@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div>
    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
            <div class="col-lg-12">
                <div class="main_logo25" id="logo">
                    <a asp-action="Index" asp-controller="Home"></a><img src="~/images/logo.svg" alt=""></a>
                    <a asp-action="Index" asp-controller="Home"><img class="logo-inverse" src="~/images/ct_logo.svg" alt=""></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>Request a Password Reset</h2>

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger fw-bold fst-italic" role="alert"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.Email" class="prompt srch_explore" autocomplete="username" aria-required="true" placeholder="Please enter your Email" />
                                <i class="uil uil-envelope icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger fst-italic mt-1 mb-2 float-start"></span>
                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.Password" class="prompt srch_explore" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger fst-italic mt-1 mb-2 float-start"></span>

                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.ConfirmPassword" class="prompt srch_explore" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger fst-italic mt-1 mb-2 float-start"></span>

                        </div>
                        <button type="submit" class="login-btn">Reset Password</button>
                    </form>
                    <hr />
                    <p class="mb-0 mt-30">Go Back <a asp-area="Identity" asp-page="/Account/Login">Sign In</a></p>
                </div>
            </div>
            <div class="sign_footer"><img src="~/images/sign_logo.png" alt="">© 2024 <strong>Cursus</strong>. All Rights Reserved.</div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
