<a asp-controller="Cart" asp-action="GetCart" class="option_links" title="cart">
                            <i class='uil uil-shopping-cart-alt'></i><span id="cartCount"
                                                                           class="noti_count">@ViewBag.CartCount</span>
</a>