@page
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    // ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var user = HttpContextAccessor.HttpContext.User;
}

<div class="sign_in_up_bg">
    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
            <div class="col-lg-12">
                @if (user.IsInRole("Instructor"))
                {
                    <div class="main_logo25" id="logo">
                        <a asp-controller="Instructor" asp-action="Dashboard"><img src="~/images/logo.svg" alt=""></a>
                        <a asp-controller="Instructor" asp-action="Dashboard"><img class="logo-inverse" src="~/images/ct_logo.svg" alt=""></a>
                    </div>
                }
                else if (user.IsInRole("Student"))
                {
                    <div class="main_logo25" id="logo">
                        <a asp-action="Index" asp-controller="Home"><img src="~/images/logo.svg" alt=""></a>
                        <a asp-action="Index" asp-controller="Home"><img class="logo-inverse" src="~/images/ct_logo.svg" alt=""></a>
                    </div>
                }
            </div>

            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>Change Password</h2>
                    <form id="change-password-form" method="post" class="pb-4">
                        @if (Model.StatusMessage != null)
                        {
                            <div class="alert alert-info" role="alert">
                                @Html.Raw(Model.StatusMessage) <p class="mb-0 mt-30"><a asp-controller="Home" asp-action="Index">Go Back Home</a></p>
                            </div>
                        }
                        @* <partial name="_StatusMessage" for="StatusMessage" /> *@
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="login-btn">Update password</button>
                    </form>
                    <hr>
                    @if (user.IsInRole("Instructor"))
                    {
                        <p class="mb-0 mt-30"><a asp-controller="Instructor" asp-action="Dashboard">Go Back Home</a></p>
                    }
                    else if (user.IsInRole("Student"))
                    {
                        <p class="mb-0 mt-30"><a asp-controller="Home" asp-action="Index">Go Back Home</a></p>
                    }
                </div>
            </div>
            <div class="sign_footer"><img src="~/images/sign_logo.png" alt="">© 2024 <strong>Cursus</strong>. All Rights Reserved.</div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
