@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
<div>
    <div class="container">
        <div class="row justify-content-lg-center justify-content-md-center">
            <div class="col-lg-12">
                <div class="main_logo25" id="logo">
                    <a asp-action="Index" asp-controller="Home"><img src="~/images/logo.svg" alt=""></a>
                    <a asp-action="Index" asp-controller="Home"><img class="logo-inverse" src="~/images/ct_logo.svg" alt=""></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-8">
                <div class="sign_form">
                    <h2>Set Password</h2>
                    <form id="set-password-form" method="post">
                        @if (Model.StatusMessage != null)
                        {
                            <div class="alert alert-info" role="alert">
                                @Html.Raw(Model.StatusMessage) <a asp-area="Identity" asp-page="/Account/Login">Sign In.</a>
                            </div>
                        }
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="ui search focus mt-15">
                            <div class="ui left icon input swdh95">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." />
                                <i class="uil uil-key-skeleton-alt icon icon2"></i>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="login-btn mb-5">Set password</button>
                    </form>
                    <hr>
                    <p class="mb-0 mt-30">Go Back <a asp-area="Identity" asp-page="/Account/Login">Sign In</a></p>
                </div>
            </div>
            <div class="sign_footer"><img src="~/images/sign_logo.png" alt="">© 2024 <strong>Cursus</strong>. All Rights Reserved.</div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
